@media (min-width: 300px) {
  #intro > img {
    display: inline-block;
    background-color: red;
    width: 100%;
  }
  
  h1 {
    color: white;
    font-weight: bold;
    font-size: 3em;
    padding: 0.5em 0 0.5em 0;
    background-color: red;
  }

  #header {
    text-align: center;
  }

  #background {
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    height: fit-content;
  }

  #footer {
    text-align: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 0.5em;
    background-color: red;
    bottom: 0;
    position: fixed;
    width: 100%;
  }

  #assignments {
    text-align: center;
    color: red;
    padding-bottom: 5em;
  }

  #intro > div{
    display: inline-block;
    color: red;
    font-size: 1.5em;
    padding: 0 1em 1em 1em;
  }

  h2 {
    font-size: 2em;
  }

  p {
    padding-top: 1em;
  }
}

@media (min-width: 600px) {
  #intro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50em;
    margin: 0 auto;
  }

  #intro > img {
    display: inline-block;
    background-color: red;
    width: 25em;
  }

  #intro > div {
    display: inline-block;
    color: red;
    font-size: 1.5em;
  }
}

